:root {
	--barlow: "Barlow", sans-serif;
	--fraunces: "Fraunces", serif;

	/*primary colors*/
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-desaturated-cyan: hsl(167, 40%, 24%); /*graphic design text*/
	--dark-blue: hsl(198, 62%, 26%); /*photography text*/
	--dark-moderate-cyan: hsl(168, 34%, 41%); /*footer*/

	/*neutral colors*/
	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	font-size: 18px;
	font-family: var(--barlow);
	text-align: center;
}

footer {
	text-align: center;
    background-color: hsl(168, 52%, 74%);
    width: 100%;
}

header {
	margin-top: 30px;
	width: 100%;
}

h1,
h2,
h3 {
	font-family: var(--fraunces);
}

h1 {
	margin: 94px 0px 50px 0px;
	color: var(--white);
	text-transform: uppercase;
	padding: 0px 10px;
	letter-spacing: 5px;
}

h2 {
	color: var(--very-dark-desaturated-blue);
	padding: 0px 40px;
	font-size: 30px;
	font-weight: 900;
	margin-top: 50px;
}

h3 {
	margin: 60px 0px 60px 0px;
	font-size: 16px;
	font-weight: 900;
	color: var(--grayish-blue);
	letter-spacing: 0.2rem;
}

img {
	width: 100%;
}

/*header start*/

.top-bar {
	width: 320px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.the-burger {
	width: auto;
}

.sunny-logo-top {
	width: auto;
}

.white-down-arrow {
	width: 9%;
	margin-top: 13px;
}

.header-img {
	width: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0px;
}

/*header end*/

/*nav start*/

.top-menu {
	display: none;
}

.contact {
	text-transform: uppercase;
	background-color: var(--yellow);
	padding: 20px 30px;
	margin: 0 auto;
	border-radius: 30px;
	color: var(--very-dark-desaturated-blue);
	font-family: var(--fraunces);
	font-size: 15px;
}

ul {
	background-color: var(--white);
	text-align: center;
	padding: 10px 0px 10px 0px;
	position: absolute;
	width: 320px;
	margin-top: 50px;
}

li {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

a {
	color: var(--dark-grayish-blue);
	text-decoration: none;
}

/*nav end*/

.yellow-eggy {
	margin-top: 132px;
}

.testimonials-title {
	text-transform: uppercase;
}

.section-info {
	color: var(--dark-grayish-blue);
	padding: 0px 20px;
	line-height: 1.7rem;
	margin-top: 0px;
	margin-bottom: 30px;
}

.learn-more-b {
	color: var(--very-dark-desaturated-blue);
	font-family: var(--fraunces);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 80px;
	line-height: 7px;
	width: 120px;
	
}

.learn-more-b:after {
	content: "";
	display: block;
	position: relative;
	width: 96%;
	border: 4px solid hsl(51, 86%, 81%);
	border-radius: 20px;
	margin-top: 1px;
	z-index: -1;
}

.red-b:after {
	border: 4px solid hsl(7, 75%, 87%);
}

/*graphic section*/

.graphic-heading,
.graphic-info {
	color: var(--dark-desaturated-cyan);
}

.graphic-heading {
	margin-top: -200px;
}

.graphic-info {
	padding: 0px 23px;
	font-size: 15px;
	line-height: 1.5rem;
}

/*photo section*/

.photo-heading,
.photo-info {
	color: var(--dark-blue);
}

.photo-heading {
	margin-top: -200px;
}

.photo-info {
	padding: 0px 23px;
	font-size: 15px;
	line-height: 1.5rem;
}

/*testimonials*/

.testimonial-avatar {
	border-radius: 50px;
	width: 70px;
	margin-bottom: 20px;
}

.testimonial {
	color: var(--very-dark-grayish-blue);
	padding: 0px 22px;
	line-height: 1.7rem;
}

.testimonial-name {
	color: var(--very-dark-desaturated-blue);
	margin: 10px 0px 0px 0px;
	letter-spacing: unset;
	font-size: 18px;
}

.testimonial-job {
	color: var(--grayish-blue);
	font-size: 13px;
	margin-bottom: 60px;
}

/*four picture grid*/

.img-grid {
	margin-top: 35px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	grid-auto-rows: minmax(100px, auto);
}

.img-grid img {
	display: block;
}

/*bottom section*/

.bottom-logo {
   margin-top: 60px;
}

.bottom-links {
    margin: 0 auto;
    padding: 30px 0px 90px 0px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.bottom-links a {
    color: var(--dark-moderate-cyan);
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 150px;
    margin: 0 auto;
}

.socials img {
    filter: invert(18%) sepia(88%) saturate(259%) hue-rotate(117deg) brightness(92%) contrast(87%);
    width: 20px;
}

/*footer*/

.attribution {
	font-size: 13px;
	text-align: center;
	margin: 40px;
    color: var(--dark-moderate-cyan);
}
.attribution a {
	color: var(--very-dark-desaturated-blue);
}

.fa-brands {
	color: var(--very-dark-desaturated-blue);
	margin: 30px;
	font-size: 30px;
}

/*desktop styling*/

@media (min-width:1440px) {
	header {
		margin-top: 20px;
	}
	
	nav {
		margin: 0px 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		background-color: unset;
		position: unset;
		width: unset;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
	}

	li a {
		color: var(--white);
	}

	h1 {
		font-size: 58px;
		letter-spacing: 8px;
	}

	/*top nav bar desktop*/

	.the-burger {
		display: none;
	}

	.sunny-logo-top {
		display: none;
	}

	.sunny-logo-top-d {
		display: inline-block;
		width: auto;
		height: 30px;
	}

	.top-menu {
		display: unset;
	}

	.contact {
		background-color: var(--white);
		padding: 15px 22px;
	}

	.contact:hover {
		background-color: #61caff;
		color: white;
	}

	/*header*/

	.header-img{
		display: none;
	}

	.header-img-dt {
		width: 100%;
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0px;
	}
	
	.white-down-arrow {
		width: 35px;
		margin-top: 60px;
		margin-bottom: 190px;
	}

	.yellow-eggy {
		width: 720px;
	}

	.cup-pink {
		width: 720px;
	}

	/*grid setup*/

	.desktop-grid-container {
		display: grid;
		grid-template-columns: 720px repeats(2, 1fr);
		grid-auto-rows: minmax(720px, 720px);
	}

	/*egg*/

	.d-grid-one {
		grid-column: 2;
		grid-row: 1;
		
	}

	/*transform text*/

	.d-grid-two {
		grid-column: 1;
		grid-row: 1;
		margin-top: 80px;
		text-align: left;
		padding: 150px 0px 0px 150px;
	}

	.d-grid-two h2 {
		padding: 0px;
		font-size: 40px;
		padding-right: 150px;
	}

	.d-grid-two p {
		padding: 0px 120px 0px 0px;
	}

	/*pink cup*/

	.d-grid-three {
		grid-column: 1;
		grid-row: 2;
		margin-top: 10px;
	}

	/*stand out text*/

	.d-grid-four {
		grid-column: 2;
		grid-row: 2;
		text-align: left;
		padding: 120px 0px 0px 130px;
	}

	.d-grid-four h2 {
		padding: 0px;
		font-size: 40px;
	}

	.d-grid-four p {
		padding: 0px 130px 0px 0px;
	}

	/*cherry graphic design*/

	.two-cherries {
	
	}

	.d-grid-five {
		grid-column: 1;
		grid-row: 3;
		margin-top: -120px;
	}

	/*orange photography*/

	.juicy-orange {

	}

	.d-grid-six {
		grid-column: 2;
		grid-row: 3;
		margin-top: -120px;

	}

	/*learn buttons*/

	.learn-more-b:after {
		width: 22%;
		margin-top: -5px;
		right: 12px
	}

	.learn-more-b:hover:after {
		border: 4px solid var(--yellow);
	}

	.red-b:after {
		width: 22%;
		margin-top: -5px;
		right: 13px
	}

	.red-b:hover:after {
		border: 4px solid var(--soft-red);
	}


	/*desktop testimonials horizontal styling*/

	.testimonials-title {
		margin-top: 600px;
	}

	.testimonials-desktop {
		display: flex;
	}

	.img-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}