:root {
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;

    /*primary colors*/
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); /*graphic design text*/
    --dark-blue: hsl(198, 62%, 26%); /*photography text*/
    --dark-moderate-cyan:  hsl(168, 34%, 41%); /*footer*/

    /*neutral colors*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue:  hsl(213, 9%, 39%);
    --dark-grayish-blue:  hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: var(--barlow);
}

footer {
    text-align: center;
}

header {
    margin-top: 30px;
}

h1 {
    margin-bottom: 99px;
    color: var(--white);
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: var(--fraunces)
}

img {
    width: 100%;
}

/*header start*/

.top-bar {
    width: 320px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.the-burger {
    width: auto;
}

.sunny-logo-top {
    width: auto;
}

.white-down-arrow {
    width: 10%;
}

.header-img {
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0px;
}

/*header end*/

/*nav start*/

.contact {
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 30px;
    color: var(--very-dark-desaturated-blue);
    font-family: var(--fraunces);
    font-size: 15px;
}

ul {
    background-color: var(--white);
    text-align: center;
    padding: 10px 0px 10px 0px;
}

li {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

/*nav end*/


.yellow-eggy {
    margin-top: 43px;
}

.testimonials-title {
    text-transform: uppercase;
}

/*bottom section*/

.sunny-logo-bottom {
    color: var(--dark-grayish-cyan);
}

.socials {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*footer*/

.attribution {
	font-size: 13px;
	text-align: center;
    margin: 20px;
}
.attribution a {
	color: var(--soft-red);
}

.fa-brands {
    color: var(--soft-red);
    margin: 30px;
    font-size: 30px;
}
